@font-face {
  font-family: 'BookkGothic-Bd';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkGothic-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 2rem;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #282828;
}

button {
  font-family: 'BookkGothic-Bd';
  position: fixed;              
  bottom: 20px;                 
  left: 50%;
  transform: translateX(-50%);
  padding: 16px 32px;
  margin: 40px auto;
  font-size: 18px;
  background-color: #131313;
  color: rgb(217, 217, 217);
  border: none;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

button:active {
  transform: translateX(-50%) scale(0.96);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.top-icon {
  display: block;
  width: 40px;          
  margin: 0px auto 20px;          
} 

.card-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 80px auto 0;
  padding: 0 20px 120px;
}

.card {
  font-family: 'BookkGothic-Bd';
  position: absolute;
  top: 50%;
  left: 50%;
  background: #e74291;
  transform: translate(-50%, -50%) rotate(var(--rotate, 0deg));
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
  font-size: 50px;
  color: #f9f9f9;
  text-align: center;
  word-break: keep-all;
  padding: 24px 32px;
  display: inline-block;   
  max-width: none;  
}

.card.show {
  opacity: 1;
}

@media (max-width: 900px) {
  .card {
    width: fit-content; 
    font-size: 50px;
  }
}